:root {
    --primary_color: #FFFFFF;
    --secundary-color: #92af3a;
  }

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{

    font-size: 62.5%;
    background-color: Black;
    z-index:2;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;

}

.main{

    display: flex;
    flex-direction: column;
}
.background-image{

    background: url(../images/Halo-Reach.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: .9;
}

.header{

    display: flex;
    justify-content: flex-end;
    align-self: center;
    background-color: black;
    opacity: .8;
    height: 70px;
    width: 100%;
}

.menu-active{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    font-size: 1.4rem;
}

.menu-inactive{

    display: none;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    font-size: 1.4rem;
}

.header__tittle{

    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header__item{

    color: white;
    list-style: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.header__item:hover{

    border-bottom: 2px white solid;
    border-color: #778450;
}

.search-container{
    /* border-bottom: 1px solid rgba(255,255,255,.5); */
    height: 230px;
    width: 90%;
    margin: 150px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    opacity: .8;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 1px #2c59dd;
    padding: 20px;
}

.search__tittle{

    text-align: center;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.4rem;
    /* text-transform: uppercase; */
}

.search-top-tittle{

    font-size: 1.8rem;
}

.search-input{

    width: 60%;
    margin: 5px auto 0;
    height: 30px;
    outline: none;
    text-align: center;
    background: black;
    opacity: .8;
    color: var(--primary_color);
    /* box-shadow: 1px 1px 5px #2c59dd; */
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: white unset 2px;
}

.search-btn{

    width: 40%;
    height: 30px;
    margin: 20px auto 0px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.search-btn:hover{

    box-shadow: 2px 2px 10px 5px #2c59dd;
}

.footer{

    width: 100%;
    height: auto;
    padding: 5px;
    background: black;
}

.footer__social-container{

    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.twitter{

    display: inline-block;
    background-image: url(../images/icons8-twitter.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.linkedin{

    display: inline-block;
    background-image: url(../images/icons8-linkedin.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.footer__text{

    color: white;
    text-align: center;
    margin-top: 10px;
}

.footer__devmangel{

    font-size: 1.2rem;
}


.results-window{

    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
    padding-top: 20px;
}

.results__container{

    border: solid white 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px var(--primary_color);
    margin: 0px 10px;
}

.results__img{
    width: 40%;
    height: 40px;
    margin-top: 10px;
}

.xp{
    background-image: url(../images/halo.png);
}

.kills{

    background-image: url(../images/Spree-extermination.png);
}

.headshots{

    background-image: url(../images/Kill-headshot.png);
}

.shoots{

    background-image: url(../images/Spree-untouchable.png);
}

.melee{

    background-image: url(../images/Kill-melee.png);
}

.assassinations{

    background-image: url(../images/Kill-assassination.png);
}

.powerweapon{

    background-image: url(../images/Kill-sniper-rifle-kill.png);
}

.deaths{

    background-image: url(../images/death.png);
}

.granade{

    background-image: url(../images/Kill-grenade-kill.png);
}

.results__tittle{

    height: 25px;
    width: 100px;
    text-align: center;
    color: var(--secundary-color);
    padding-top: 8px;
    font-size: 1rem;
}
.results__number{

    height: 25px;
    width: 100px;
    padding-top: 3px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.btn-home{

    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url(../images/icons8-home.svg);
    background-repeat: no-repeat;
    margin: 30px auto 0px;
}

.btn-home__style:hover{

    box-shadow: 1px 1px 5px 2px var(--secundary-color);
    cursor: pointer;
}